*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
baselibrary/libs/
baselibrary/src/main/res/drawable/
framelibrary/libs/
framelibrary/src/androidTest/java/com/example/alex/framelibrary/db/
javaproxy/libs/
