<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kaifa.essayjoke">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.example.kaifa.essayjoke.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.kaifa.essayjoke.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.kaifa.essayjoke.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.kaifa.essayjoke.SkinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.kaifa.essayjoke.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.kaifa.essayjoke.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.kaifa.essayjoke.imageselect.SelectImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.kaifa.essayjoke.ActivityCamera"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.kaifa.essayjoke.DemoSelectImageActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>